RewriteEngine On
RewriteBase /complex
RewriteRule ^about/?$ index.py/about
RewriteRule ^source/?$ index.py/source
RewriteRule ^api/?$ index.py/api
RewriteRule ^feedback/?$ index.py/feedback
RewriteRule ^gallery/?$ index.py/gallery
RewriteRule ^gallery/([0-9]+)/?$ index.py/gallery?viewid=$1
RewriteRule ^gallery/add/?$ index.py/gallery_add
RewriteRule ^$ index.py/

AddHandler mod_python .py
PythonHandler mod_python.publisher
PythonDebug On
PythonPath "sys.path + ['/srv/www/complex/resources/include/', '/srv/www/complex/lib/python2.6/site-packages/ply-3.3-py2.6.egg']"
